

form {
    align-items: center;
    margin-bottom: 20px;
    margin-left: 250px;
  }
  label {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  button[type="button"],
  button[type="reset"] {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 10px;
  }
  button[type="button"]:hover,
  button[type="reset"]:hover {
    background-color: #94f4ec;
    color: #333;
  }
  table {
    margin-left: 250px;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  th {
    background-color: #333;
    color: white;
  }