body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
.container-nosotros {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}
.col {
    flex: 1;
    padding: 0 20px;
    text-align: justify;
}
h1 {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 20px;
}
h2 {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 10px;
}
p {
    line-height: 1.5;
    margin-bottom: 20px;
}
.img-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-container img {
    max-width: 100%;
    height: auto;
}

.login-button {
    color: #94f4ec;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 25px; 
    font-weight: bold;
    margin-left: 680px;
  }
  
  .login-button:hover {
    background-color: #94f4ec;
    color: #333;
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .modal-content h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .modal-content h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-content label {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
  }
  
  .modal-content input[type="text"],
  .modal-content input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .modal-content button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .modal-content button[type="submit"]:hover {
    background-color: #94f4ec;
    color: #333;
  }
  
  .close-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .close-button:hover {
    background-color: #94f4ec;
    color: #333;
  }
  
  .close-button {
    margin-top: 10px;
  }