.productos {
    padding: 60px 0;
  }
  
  .productos h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .mosaico {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .producto {
    width: calc(25% - 20px);
    margin-bottom: 40px;
    text-align: center;
    background-color: #f7f7f7;
    padding: 20px;
    box-sizing: border-box;
    cursor: default;
    
  }

  .producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .producto h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .producto p {
    font-size: 16px;
    margin-bottom: 20px;
    color: red;
  }
  
  .producto a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3}
    .producto a:hover {
        background-color: #0062cc;
      }
      
      @media screen and (max-width: 768px) {
        .producto {
          width: calc(50% - 20px);
        }
      }

      .login-button {
        color: #94f4ec;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: background-color 0.2s ease;
        font-size: 25px; 
        font-weight: bold;
        margin-left: 680px;
      }
      
      .login-button:hover {
        background-color: #94f4ec;
        color: #333;
      }
      .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #333;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        text-align: center;
      }
      
      .modal-content h2 {
        color: white;
        font-size: 24px;
        margin-bottom: 20px;
      }
      
      .modal-content form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .modal-content label {
        font-size: 18px;
        margin-bottom: 10px;
        color: white;
      }
      
      .modal-content input[type="text"],
      .modal-content input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      
      .modal-content button[type="submit"] {
        padding: 10px 20px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.2s ease;
      }
      
      .modal-content button[type="submit"]:hover {
        background-color: #94f4ec;
        color: #333;
      }
      
      .close-button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #333;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.2s ease;
      }
      
      .close-button:hover {
        background-color: #94f4ec;
        color: #333;
      }
      
      .close-button {
        margin-top: 10px;
      }