/* Estilos generales */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f7f7f7;
    margin: auto;
  }
  
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .login-button {
    color: #94f4ec;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 25px; 
    font-weight: bold;
    margin-left: 680px;
  }
  
  .login-button:hover {
    background-color: #94f4ec;
    color: #333;
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .modal-content h2 {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-content label {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
  }
  
  .modal-content input[type="text"],
  .modal-content input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .modal-content button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .modal-content button[type="submit"]:hover {
    background-color: #94f4ec;
    color: #333;
  }
  
  .close-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .close-button:hover {
    background-color: #94f4ec;
    color: #333;
  }
  
  .close-button {
    margin-top: 10px;
  }

  header nav ul {
    list-style: none;
    display: flex;
  }
  
  header nav ul li {
    margin-right: 10px;
    font-size: 25px;
    font-weight: bold;
  }
  
  header nav ul li:last-child {
    margin-right: 0;
  }
  
  header nav ul li a {
    color: #94f4ec;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }
  
  header nav ul li a:hover {
    background-color: #94f4ec;
    color: #333;
  }
  
  header img {
    
    margin: 0;
  }
  
  
  main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  
  
  footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    z-index: 100;
  }

	.container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 20px;
  }

  .producto {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 0 0 calc(25% - 20px);
    margin-right: 20px;
    
    
  }
  .producto p{
    color: red;
  }

  .producto:last-child {
    margin-right: 0;
  }
  .producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .producto h2 {
    font-size: 1.2em;
    margin: 0;
  }